@import url('styles.css');

.parallax {
    background-image: url("../assets/allDrivers.jpg");
    height: 60%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

html{
  padding: 0;
  margin: 0;
}

.mainContainer{
  color: white;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

table {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 120px;
}

table, th, td {
  border: none;
}

th, td {
  text-align: left;
  padding: 12px;
}

.tableDrivers td{
  font-family: F1FONTREGULAR;
}

th {
  background-color: black;
}



tr:nth-of-type(odd) { 
  background: #333333;
  }

.tableDrivers tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

.tableDrivers tr:first-child th:last-child {
  border-top-right-radius: 15px;
}

.tableDrivers tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.tableDrivers tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

a {
  text-decoration: none;
  color: white;
}


#mainTitle{
  display: inline;
}

.headerzzz{
  padding: 50px;
  padding-bottom: 20px;
}

#aboutSeasonSection{
  font-family: F1FONTREGULAR;
  text-align: justify;
}